body,
head {
  display: block;
  background: #123 !important;
}

/* 
head::before,
head::after,
body::before,
body::after {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: ".";
  mix-blend-mode: screen;
  animation: 44s -27s move infinite ease-in-out alternate;
}

body::before {
  text-shadow: 0.4548838191em 0.7960855289em 7px rgba(255, 0, 77, 0.9), 1.5915820076em -0.0394631388em 7px rgba(0, 255, 198, 0.9), 1.405575735em 0.5063689366em 7px rgba(255, 118, 0, 0.9), 1.5933296521em 0.955046486em 7px rgba(8, 255, 0, 0.9), 1.8561174439em 0.5715316922em 7px rgba(255, 73, 0, 0.9), 1.7694015228em 1.2183551926em 7px rgba(0, 255, 123, 0.9), -0.2824703764em 1.3809598181em 7px rgba(255, 230, 0, 0.9), 1.4669211375em -0.2846806367em 7px rgba(255, 211, 0, 0.9), 2.2883489835em -0.3417107717em 7px rgba(255, 0, 209, 0.9), 2.4759996559em 2.3419834947em 7px rgba(229, 255, 0, 0.9), 0.8636814321em -0.1030468408em 7px rgba(255, 158, 0, 0.9), 0.0924552808em 2.1746905327em 7px rgba(113, 0, 255, 0.9), 1.6764301807em 1.22454116em 7px rgba(116, 255, 0, 0.9), 1.5616586766em 1.727558963em 7px rgba(213, 0, 255, 0.9), 0.5073687365em 1.8123175041em 7px rgba(161, 255, 0, 0.9), 1.3845437913em 0.435332358em 7px rgba(255, 0, 225, 0.9), 0.562160066em 2.1935992461em 7px rgba(194, 255, 0, 0.9), 2.0091217855em 1.0765757771em 7px rgba(0, 255, 68, 0.9), -0.346001177em -0.195259046em 7px rgba(82, 0, 255, 0.9), 0.374514905em 2.1034304532em 7px rgba(255, 83, 0, 0.9), 2.4848349172em 0.4281722554em 7px rgba(255, 2, 0, 0.9), 1.8620671725em -0.4300430547em 7px rgba(255, 0, 8, 0.9), 0.3785570958em 1.8738345487em 7px rgba(0, 255, 231, 0.9), 1.9486123494em 1.1391562681em 7px rgba(0, 255, 129, 0.9), 2.1552989534em 2.1344801458em 7px rgba(255, 51, 0, 0.9), 2.1930455159em 2.2668219822em 7px rgba(255, 249, 0, 0.9), 0.6536419352em -0.3845687182em 7px rgba(255, 200, 0, 0.9), 2.0323235769em 2.1403218855em 7px rgba(0, 255, 237, 0.9), 0.9208036278em 2.4190938429em 7px rgba(171, 0, 255, 0.9), 0.2724359628em 0.202712562em 7px rgba(252, 255, 0, 0.9), 1.113298869em 1.7691897347em 7px rgba(0, 58, 255, 0.9), 1.6750869204em 1.1727652286em 7px rgba(0, 255, 152, 0.9), 0.6037206922em 2.1390836784em 7px rgba(237, 0, 255, 0.9), 0.066181068em 0.066072281em 7px rgba(182, 255, 0, 0.9), 0.3891001827em 0.9398201814em 7px rgba(255, 0, 144, 0.9), 1.6182714092em 0.9862739488em 7px rgba(255, 114, 0, 0.9), 0.8123354942em 1.6401166167em 7px rgba(0, 95, 255, 0.9), 1.066165327em 0.446413986em 7px rgba(255, 0, 122, 0.9), 1.807141244em 1.694111912em 7px rgba(0, 255, 255, 0.9), -0.2744129331em -0.1353910393em 7px rgba(0, 108, 255, 0.9), 0.1981202607em 2.3582432209em 7px rgba(0, 255, 61, 0.9);
  animation-duration: 44s;
  animation-delay: -27s;
}

body::after {
  text-shadow: 0.1475035895em 1.3567676701em 7px rgba(255, 0, 42, 0.9), 0.784231678em 1.0072427075em 7px rgba(0, 255, 1, 0.9), 1.1654241164em 0.4616053834em 7px rgba(0, 255, 10, 0.9), 0.9107094371em 1.6399613386em 7px rgba(255, 0, 20, 0.9), 2.4813667671em 0.4768119999em 7px rgba(108, 0, 255, 0.9), 0.5339578574em 2.3109378973em 7px rgba(88, 255, 0, 0.9), 2.0738629515em 2.2437422748em 7px rgba(70, 255, 0, 0.9), 1.8759341517em 2.3298114944em 7px rgba(150, 255, 0, 0.9), 1.3212901365em 1.8150569389em 7px rgba(246, 255, 0, 0.9), 0.1525907042em 1.8962515033em 7px rgba(255, 80, 0, 0.9), 0.5137983294em 0.5400719687em 7px rgba(224, 255, 0, 0.9), 1.3124737482em 0.975775999em 7px rgba(19, 0, 255, 0.9), 0.8785666157em 0.8003641532em 7px rgba(0, 255, 236, 0.9), 1.3677922078em 0.4011559551em 7px rgba(255, 9, 0, 0.9), 0.2361563869em 2.0769143915em 7px rgba(0, 255, 66, 0.9), -0.4733804251em -0.3366400823em 7px rgba(255, 91, 0, 0.9), 1.2212098469em -0.1722471029em 7px rgba(182, 255, 0, 0.9), 1.4237459428em 1.5714807988em 7px rgba(9, 255, 0, 0.9), 0.5020188259em 0.6675002807em 7px rgba(42, 255, 0, 0.9), 1.5653544482em 0.1821822285em 7px rgba(163, 0, 255, 0.9), 0.4799184822em 1.4891659914em 7px rgba(0, 216, 255, 0.9), 1.6018431614em -0.2325783479em 7px rgba(36, 0, 255, 0.9), 0.1837703981em 1.0729890046em 7px rgba(0, 234, 255, 0.9), -0.1000650569em 2.4116635385em 7px rgba(0, 255, 227, 0.9), 0.6135880447em 0.0719954062em 7px rgba(255, 113, 0, 0.9), 2.0903011548em 1.250882156em 7px rgba(108, 0, 255, 0.9), 0.0072071588em 1.1344234149em 7px rgba(219, 0, 255, 0.9), 1.1530950497em 1.213834577em 7px rgba(255, 248, 0, 0.9), 0.0140119425em 0.9728233217em 7px rgba(226, 0, 255, 0.9), 2.4165329939em -0.006708857em 7px rgba(255, 0, 158, 0.9), 1.9544190589em 1.2228481719em 7px rgba(0, 72, 255, 0.9), 2.4389357446em -0.4552491649em 7px rgba(0, 196, 255, 0.9), 1.9563464015em 0.9167936303em 7px rgba(183, 0, 255, 0.9), 1.3786199338em 0.7425301123em 7px rgba(255, 0, 121, 0.9), 0.7481169411em 0.2407255444em 7px rgba(74, 255, 0, 0.9), 0.0759883916em -0.4303947147em 7px rgba(125, 255, 0, 0.9), -0.0566882934em 2.389350143em 7px rgba(249, 0, 255, 0.9), 1.5694446224em -0.4432107061em 7px rgba(255, 217, 0, 0.9), 2.3924043789em -0.4572839199em 7px rgba(11, 255, 0, 0.9), -0.1766688964em 0.4768981128em 7px rgba(3, 255, 0, 0.9), 2.2697791771em 0.5489382312em 7px rgba(0, 255, 73, 0.9);
  animation-duration: 43s;
  animation-delay: -32s;
}

head::before {
  text-shadow: 0.4821843679em 1.3311658862em 7px rgba(154, 255, 0, 0.9), 1.6977706357em 1.9619160856em 7px rgba(255, 0, 100, 0.9), 2.1337342979em 2.3560486981em 7px rgba(255, 0, 235, 0.9), 0.8887810821em -0.1989443123em 7px rgba(12, 0, 255, 0.9), 1.3676787016em -0.0070306894em 7px rgba(235, 255, 0, 0.9), 1.5169498939em 2.4007022843em 7px rgba(255, 124, 0, 0.9), -0.0391425726em 0.8289105631em 7px rgba(242, 0, 255, 0.9), 1.5238100497em 0.0293304881em 7px rgba(0, 255, 28, 0.9), -0.1770736846em 0.4679581194em 7px rgba(0, 255, 176, 0.9), 2.2378933861em 2.2021791304em 7px rgba(0, 49, 255, 0.9), -0.1357784179em 1.7519131265em 7px rgba(0, 190, 255, 0.9), 1.3116711904em 2.2583247355em 7px rgba(99, 255, 0, 0.9), 0.5319727543em 0.9048106975em 7px rgba(0, 199, 255, 0.9), 1.6012312071em 1.4609517864em 7px rgba(255, 0, 77, 0.9), 1.9970981498em 1.3841211295em 7px rgba(83, 255, 0, 0.9), 2.3516910366em 1.4471303478em 7px rgba(0, 255, 146, 0.9), 0.8997096074em 1.2227193849em 7px rgba(236, 0, 255, 0.9), 2.0416929489em 1.1089955024em 7px rgba(154, 255, 0, 0.9), 1.1280873605em 0.8636836182em 7px rgba(255, 1, 0, 0.9), 0.583847817em 1.9353354847em 7px rgba(125, 0, 255, 0.9), 1.922908334em 1.6145569457em 7px rgba(255, 0, 245, 0.9), 0.4135461504em 0.3219496711em 7px rgba(0, 255, 20, 0.9), -0.332439961em 0.0404745838em 7px rgba(84, 255, 0, 0.9), 1.600406713em 2.1650371879em 7px rgba(0, 254, 255, 0.9), 1.1218194643em -0.3071244589em 7px rgba(255, 43, 0, 0.9), -0.4929507638em 1.6882028837em 7px rgba(255, 146, 0, 0.9), 1.53348603em 0.2843011493em 7px rgba(255, 0, 31, 0.9), -0.2062013281em 0.6980006182em 7px rgba(255, 111, 0, 0.9), 2.2840806em 1.7266498523em 7px rgba(255, 107, 0, 0.9), 0.4316359321em 0.9512510823em 7px rgba(160, 0, 255, 0.9), 0.7328036459em 2.2903768751em 7px rgba(0, 97, 255, 0.9), 2.2902489674em -0.4801754497em 7px rgba(0, 142, 255, 0.9), 0.9190387424em 2.3878565247em 7px rgba(217, 255, 0, 0.9), 0.0229198652em 0.2341349616em 7px rgba(0, 255, 175, 0.9), 2.1843689659em -0.3800324383em 7px rgba(0, 255, 10, 0.9), -0.3957885519em -0.2582066208em 7px rgba(255, 0, 46, 0.9), 0.4984715196em 1.0122516776em 7px rgba(255, 0, 114, 0.9), 0.9978320854em 2.1969491687em 7px rgba(0, 39, 255, 0.9), -0.4520080303em 2.042128851em 7px rgba(255, 110, 0, 0.9), 1.2882678463em 2.2892157058em 7px rgba(255, 87, 0, 0.9), 1.8565331085em 2.3467300685em 7px rgba(0, 255, 113, 0.9);
  animation-duration: 42s;
  animation-delay: -23s;
}

head::after {
  text-shadow: 0.5165486103em 1.4810342743em 7px rgba(0, 255, 24, 0.9), -0.007068329em 0.1675874328em 7px rgba(0, 191, 255, 0.9), 2.3564918957em 1.5888345698em 7px rgba(189, 255, 0, 0.9), 1.1548099668em 1.2351010474em 7px rgba(255, 167, 0, 0.9), 1.97918273em 0.8210618695em 7px rgba(0, 189, 255, 0.9), 2.2673380688em 0.384520356em 7px rgba(255, 0, 121, 0.9), 0.7589769825em 2.3654498294em 7px rgba(138, 255, 0, 0.9), 1.5867966908em 1.4071729833em 7px rgba(0, 206, 255, 0.9), 1.6086306332em 1.0684910092em 7px rgba(0, 122, 255, 0.9), 2.2344359085em -0.3612556019em 7px rgba(0, 255, 38, 0.9), 0.5870202957em 1.9248935415em 7px rgba(255, 0, 255, 0.9), 1.9215465184em 0.1098292544em 7px rgba(255, 243, 0, 0.9), 2.3544257645em 2.1799839431em 7px rgba(0, 72, 255, 0.9), 1.6845382755em 1.0863820217em 7px rgba(186, 255, 0, 0.9), -0.1008820859em 2.1209927065em 7px rgba(255, 175, 0, 0.9), 0.0988811058em 0.0916903412em 7px rgba(255, 181, 0, 0.9), 2.4556215337em 2.1764841169em 7px rgba(250, 0, 255, 0.9), 0.0516077714em 2.0310469296em 7px rgba(130, 0, 255, 0.9), -0.0309262579em 0.9578169268em 7px rgba(31, 255, 0, 0.9), 1.040301687em -0.2237175338em 7px rgba(0, 218, 255, 0.9), 1.3872059072em 0.0080011064em 7px rgba(0, 255, 50, 0.9), -0.0439456775em 0.1271992831em 7px rgba(255, 186, 0, 0.9), 2.3676887276em 1.058901822em 7px rgba(255, 217, 0, 0.9), 0.8002522283em -0.3169133888em 7px rgba(246, 0, 255, 0.9), 0.3961770165em 0.9857570699em 7px rgba(0, 8, 255, 0.9), -0.0709921303em 0.1903815444em 7px rgba(130, 255, 0, 0.9), 2.3603033817em 0.6806095911em 7px rgba(127, 0, 255, 0.9), 0.9257695567em 1.8955381058em 7px rgba(0, 172, 255, 0.9), 0.4221012803em 0.6323830986em 7px rgba(115, 255, 0, 0.9), 1.3538812648em 0.2540346186em 7px rgba(48, 255, 0, 0.9), 1.6538877713em 0.729647841em 7px rgba(0, 68, 255, 0.9), 2.2660030513em -0.0257145084em 7px rgba(144, 0, 255, 0.9), 1.48951361em 2.197010357em 7px rgba(255, 75, 0, 0.9), 2.1394835872em 0.5256902196em 7px rgba(0, 212, 255, 0.9), 1.3002562354em 2.4611440479em 7px rgba(41, 0, 255, 0.9), 2.2818382833em -0.0638740745em 7px rgba(255, 0, 83, 0.9), 0.1936628541em 1.3082467291em 7px rgba(250, 255, 0, 0.9), 0.4198957672em -0.2971293494em 7px rgba(255, 103, 0, 0.9), 0.6256681836em 0.6388327108em 7px rgba(255, 0, 53, 0.9), 2.1370268341em 1.6210814606em 7px rgba(0, 19, 255, 0.9), 1.8192105907em 0.4455023521em 7px rgba(255, 0, 77, 0.9);
  animation-duration: 41s;
  animation-delay: -19s;
}

@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }

  to {
    transform: rotate(360deg) scale(18) translateX(20px);
  }
} */

.height-100 {
  height: 100vh
}

.form-control {
  border: 2px solid white;
  color: white !important;
  text-align: center;
  margin: 10px;
  /* width: 25% !important; */
  width: 60px !important;
  text-align: center;
}

.form-control:focus {
  border-color: greenyellow;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.footer {
  position: fixed;
  bottom: 10px;
  right: 15px;
  opacity: 30%;
  font-weight: 600;
  cursor: pointer;
}

.container {
  justify-content: center;
  align-items: center;
}

.icon-btn {
  cursor: pointer;
}

@media only screen and (max-width: 900px) {
  .container {
    padding-top: 10%;
    align-items: flex-start;
  }

  .form-control {
    padding: 0;
    margin: 5px;
  }
}